<ion-tabs class="tabs-positive tabs-stripped tabs-icon-top">
	<ion-tab title="Pechinchas" icon-on="ion-ios-browsers" icon-off="ion-ios-browsers-outline" href="#/h-app/h-tabs/home">
		<ion-nav-view name="app-home"></ion-nav-view>
	</ion-tab>
	
	<!-- <ion-tab title="Fornecedores" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline" ng-click="nvCtrl.pickFornecedor()">
	</ion-tab> -->
	
	<ion-tab title="Fornecedor" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline"  href="#/h-app/h-tabs/fornecedor">
		<ion-nav-view name="app-fornecedor"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Sobre" icon-on="ion-ios-paw" icon-off="ion-ios-paw-outline"  href="#/h-app/h-tabs/about">
		<ion-nav-view name="app-about"></ion-nav-view>
	</ion-tab>
</ion-tabs>