<ion-modal-view>
	<ion-header-bar class="bar-assertive">
		<h1 class="title">
			Melhor Oferta !
		</h1>

	 	<div class="buttons">
	    	<button class="button button-clear" ng-click="ppCtrl.Produto.closeBestOffer()">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
		<ion-list>
			<label class="item pechincha">
				<h2>{{ppCtrl.BestOffer.fNome}}</h2>
				<p ng-if="ppCtrl.BestOffer.fEndereco || ppCtrl.BestOffer.fTelefone || ppCtrl.BestOffer.fEmail">
					<small ng-if="ppCtrl.BestOffer.fEndereco">
						<i class="ion-ios-location assertive"></i>
						{{ppCtrl.BestOffer.fEndereco}}&nbsp;
						<br />
					</small>
					
					<small ng-if="ppCtrl.BestOffer.fTelefone">
						<i class="ion-ios-telephone dark"></i>
						{{ppCtrl.BestOffer.fTelefone}}&nbsp;
						<br />
					</small>
					
					<small ng-if="ppCtrl.BestOffer.fEmail">
						<i class="ion-ios-email positive"></i>
						{{ppCtrl.BestOffer.fEmail}}&nbsp;
					</small>
				</p>
			</label>
			
			<label class="item item-divider text-center">
				<small>Peso de Decisão de Compra</small>
				<br />
				<i class="ion-ios-star energized" ng-repeat="star in ppCtrl.Produto.stars( ppCtrl.BestOffer.pPdc ) track by $index"></i>
			</label>
			
			<div class="item item-image">
				<img ng-src="{{ppCtrl.BestOffer.pFoto}}" />
		    </div>
			
			<label class="item">
				Produto:
				<span class="item-note">
					{{ppCtrl.BestOffer.pNome}}
				</span>
			</label>
			
			<label class="item">
				Preço:
				<span class="item-note">
					{{ppCtrl.BestOffer.pPreco | currency}}
				</span>
			</label>
			
			<label class="item">
				Quantidade:
				<span class="item-note">
					{{ppCtrl.BestOffer.pQuantidade}}
				</span>
			</label>

			<label class="item">
				Desconto:
				<span class="item-note">
					{{ppCtrl.BestOffer.pDesconto}} %
				</span>
			</label>
			
			<label class="item">
				Parcelas:
				<span class="item-note">
					{{ppCtrl.BestOffer.pParcelas}}
				</span>
			</label>
			
			<label class="item">
				Pagamento:
				<span class="item-note" ng-switch="ppCtrl.BestOffer.pFormaPagamento">
					<span ng-switch-when="DINHEIRO">Dinheiro</span>
					<span ng-switch-when="CARNE">Carnê</span>
					<span ng-switch-when="CARTAO">Cartão</span>
					<span ng-switch-when="CHEQUE">Cheque</span>
				</select>
			</label>
			
			<label class="item">
				Anotações:
				<span class="item-note">
					{{ppCtrl.BestOffer.pAnotacoes}}
				</span>
			</label>
		</ion-list>
	</ion-content>
</ion-modal-view>