<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">
			{{frCtrl.Fornecedor.CodFornecedor ? "Editar Fornecedor" : "Incluir Fornecedor"}}
		</h1>
		<!-- Header para Edição -->
	 	<div class="buttons" ng-if="frCtrl.Fornecedor.CodFornecedor">
	    	<button class="button button-clear" ng-click="frCtrl.pick.remove()">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	    	<button  class="button button-clear" ng-click="frCtrl.pick.persist( false )">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
		
		<!-- Header para inclusão -->
	 	<div class="buttons" ng-if="! frCtrl.Fornecedor.CodFornecedor">
	    	<button class="button button-clear" ng-click="frCtrl.pick.persist( false )">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
		<form novalidate ng-submit="frCtrl.pick.persist( frForm )" name="frForm">
			<ion-list>
				<label class="item item-input">
					<span class="input-label">Fornecedor:</span>
					<input name="Nome" type="text" placeholder="Nome do Fornecedor" ng-model="frCtrl.Fornecedor.Nome" ng-minlength="3" required />
				</label>
				
				<label class="item item-input">
					<span class="input-label">Endereço:</span>
					<input name="Endereco" type="text" placeholder="Endereço" ng-model="frCtrl.Fornecedor.Endereco" ng-minlength="3" />
				</label>
				
				<label class="item item-input">
					<span class="input-label">Telefone:</span>
					<input name="Telefone" type="text" placeholder="Telefone" ng-model="frCtrl.Fornecedor.Telefone" ng-minlength="3" />
				</label>
				
				<label class="item item-input">
					<span class="input-label">Email:</span>
					<input name="Email" type="text" placeholder="Email" ng-model="frCtrl.Fornecedor.Email" ng-minlength="3" />
				</label>
			</ion-list>
			
			<br />
			<div class="text-center padding">
				<button type="submit" class="button button-positive">
					Guardar
				</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>