<ion-view view-title="Pechinchas" hide-back-button="true" ng-controller="PechinchaController as pcCtrl">
	<ion-nav-buttons side="right">
  		<button class="button button-clear" ng-click="pcCtrl.modal.new()">
    		&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
    	</button>
    </ion-nav-buttons>
	
    <ion-content class="tabs-striped tabs-background-stable tabs-color-dark">
		<!-- Caso não existam registros -->
		<div ng-if="! pcCtrl.Pechinchas.length && pcCtrl.init.initialized" class="text-center dark">
			<br /> <br />
			<i class="fa fa-fw fa-5x fa-flag"></i>
			<br />
			<p>Nenhuma <b>Pechincha</b> <br /> foi encontrada</p>
			<br />
			<button class="button button-positive" ng-click="pcCtrl.modal.new()">
				&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
				<!-- Iniciar Pechincha -->
	    	</button>
		</div>
		<!-- /Caso não existam registros -->
		
        <div class="list card" ng-repeat="pechincha in pcCtrl.Pechinchas">
        	<div class="item" ng-class="{'pechincha': ! pechincha.Concluido, 'concluido': pechincha.Concluido}">
				<h2>{{pechincha.Alias}}</h2>
				<p>
					{{pechincha.Concluido ? "Pechincha Concluída" : "Pechincha em Andamento"}}
					<br />
					<small>{{pechincha.Data | date: 'dd/MM/yyyy'}}</small>
				</p>
			</div>
            <!-- <div class="item item-body"> -->
            	
            <!-- </div> -->
            <div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" ng-click="pcCtrl.modal.view( pechincha )">
					<i class="icon ion-ios-browsers-outline"></i>
					Propostas
				</a>
				<a class="tab-item" ng-click="pcCtrl.modal.update( pechincha )">
					<i class="icon ion-ios-color-wand-outline"></i>
					Editar
				</a>
				<a class="tab-item" ng-click="pcCtrl.modal.remove( pechincha )">
					<i class="icon ion-ios-trash-outline"></i>
					Excluir
				</a>
			</div>
        </div>
    </ion-content>
</ion-view>