<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">
			{{pcCtrl.Pechincha.CodPechincha ? "Editar Pechincha" : "Incluir Pechincha"}}
		</h1>
		<!-- Header para Edição -->
	 	<div class="buttons" ng-if="pcCtrl.Pechincha.CodPechincha">
	    	<button  class="button button-clear" ng-click="pcCtrl.modal.persist( false )">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
		
		<!-- Header para inclusão -->
	 	<div class="buttons" ng-if="! pcCtrl.Pechincha.CodPechincha">
	    	<button class="button button-clear" ng-click="pcCtrl.modal.persist( false )">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
		<form novalidate ng-submit="pcCtrl.modal.persist( frForm )" name="frForm">
			<ion-list>
				<label class="item item-input">
					<span class="input-label">Alias:</span>
					<input name="Alias" type="text" placeholder="Alias da Pechincha" ng-model="pcCtrl.Pechincha.Alias" ng-minlength="3" required />
				</label>
				
				<div ng-if="pcCtrl.Pechincha.CodPechincha">
					<ion-toggle name="Concluido" ng-model="pcCtrl.Pechincha.Concluido" toggle-class="toggle-dark" ng-true-value="1" ng-false-value="0">Arquivado:</ion-toggle>
				</div>
			</ion-list>
			
			<br />
			<div class="text-center padding">
				<button type="submit" class="button button-positive">
					Guardar
				</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>