<ion-modal-view ng-controller="ProdutoController as prCtrl">
	<ion-header-bar class="bar-royal">
		<h1 class="title">
			{{prCtrl.Produto.CodProduto ? "Editar Produto" : "Incluir Produto"}}
		</h1>
		<!-- Header para Edição -->
	 	<div class="buttons" ng-if="prCtrl.Produto.CodProduto">
	    	<button class="button button-clear" ng-click="prCtrl.modal.remove()">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	    	&nbsp;
	    	<button  class="button button-clear" ng-click="prCtrl.modal.close()">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
		
		<!-- Header para inclusão -->
	 	<div class="buttons" ng-if="! prCtrl.Produto.CodProduto">
	    	<button class="button button-clear" ng-click="prCtrl.modal.close()">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
		<form novalidate ng-submit="prCtrl.modal.persist( prForm )" name="prForm">
			<ion-list>
				<label class="item item-divider text-center">
					<small>Peso de Decisão de Compra</small>
				</label>
				<div class="item range range-assertive item-stable" style="border-top: none">
					<i class="icon ion-ios-star-outline energized"></i>
					<input type="range" name="Pdc" ng-model="prCtrl.Produto.Pdc" min="1" max="5" />
					<i class="icon ion-ios-star energized"></i>
				</div>
				
				<div class="item item-image" ng-click="prCtrl.modal.capture()">
					<img ng-src="{{prCtrl.Produto.Foto}}" />
			    </div>
				
				<label class="item item-input">
					<span class="input-label">Produto:</span>
					<input name="Nome" type="text" placeholder="Modelo do Produto" ng-model="prCtrl.Produto.Nome" ng-minlength="3" required />
				</label>
				
				<label class="item item-input">
					<span class="input-label">Preço:</span>
					<input name="Preco" type="number" placeholder="Preço Unitário" ng-model="prCtrl.Produto.Preco" required />
				</label>
				
				<label class="item item-input">
					<span class="input-label">Quantidade:</span>
					<input name="Quantidade" type="number" placeholder="Quantidade" ng-model="prCtrl.Produto.Quantidade" />
				</label>

				<label class="item item-input">
					<span class="input-label">Desconto:</span>
					<input name="Desconto" type="number" placeholder="Desconto" ng-model="prCtrl.Produto.Desconto" />
				</label>

				<label class="item item-input">
					<span class="input-label">Parcelas:</span>
					<input name="Parcelas" type="number" placeholder="Parcelas" ng-model="prCtrl.Produto.Parcelas" />
				</label>

				<label class="item item-input item-select">
					<span class="input-label">Pagamento:</span>
					<select ng-model="prCtrl.Produto.FormaPagamento">
						<option value="DINHEIRO">Dinheiro</option>
						<option value="CARNE">Carnê</option>
						<option value="CARTAO">Cartão</option>
						<option value="CHEQUE">Cheque</option>
					</select>
				</label>

				<label class="item item-input">
					<span class="input-label">Anotações:</span>
					<textarea rows='4' name="Anotacoes" placeholder="" ng-model="prCtrl.Produto.Anotacoes"></textarea>
				</label>
			</ion-list>
			
			<br />
			<div class="text-center padding">
				<button type="submit" class="button button-dark">
					Guardar
				</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>