<ion-modal-view>
	<ion-header-bar class="bar-calm">
		<h1 class="title">
			{{ppCtrl.Proposta.CodProposta ? "Editar Proposta" : "Incluir Proposta"}}
		</h1>
		<!-- Header para Edição -->
	 	<div class="buttons" ng-if="ppCtrl.Proposta.CodProposta">
	    	<button  class="button button-clear" ng-click="ppCtrl.modal.persist( false )">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
		
		<!-- Header para inclusão -->
	 	<div class="buttons" ng-if="! ppCtrl.Proposta.CodProposta">
	    	<button class="button button-clear" ng-click="ppCtrl.modal.persist( false )">
	    		&nbsp;<i class="icon ion-ios-trash-outline"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
		<form novalidate ng-submit="ppCtrl.modal.persist( ppForm )" name="ppForm">
			<ion-list>
				<!-- Seletor de Ítem -->
				<label class="item" ng-if="! ppCtrl.Fornecedor" ng-click="ppCtrl.pickFornecedor()">
					Fornecedor:
					<span class="item-note">
						Selecionar Fornecedor <i class="icon ion-ios-arrow-right"></i>
				    </span>
				</label>
				
				<div ng-if="ppCtrl.Fornecedor">
					<!-- Item selecionado -->
					<ion-item class="text-center item-stable">
					   <small>Toque para selecionar o Fornecedor</small>
					</ion-item>
					
					<ion-item class="item-icon-left" ng-click="ppCtrl.pickFornecedor()">
				  		<i class="icon ion-ios-star energized"></i>
					    <h2>{{ppCtrl.Fornecedor.Nome}}</h2>
					    <p>
					    	<i class="assertive ion-ios-location"></i> 
					    	{{ppCtrl.Fornecedor.Endereco ? ppCtrl.Fornecedor.Endereco : "Local não cadastrado"}}
					    </p>
					</ion-item>
				</div>
			</ion-list>
			
			<br />
			<div class="text-center padding">
				<button type="submit" class="button button-calm">
					Guardar
				</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>