<ion-view view-title="Nerds" hide-back-button="true">
	<ion-nav-buttons side="right">
  		<button class="button button-clear" ng-click="ctCtrl.novoContato()">
    		&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
    	</button>
    </ion-nav-buttons>

	<ion-content>
		<ion-list can-swipe="true">
			<ion-item class="item-thumbnail-left" ng-repeat="contato in ctCtrl.contatos" ng-click="ctCtrl.abrirFormulario( contato )">
				<img ng-src="{{contato.imagem}}">
				<h2>{{contato.nome}}</h2>
				<p>{{contato.telefone}}</p>
				<p>{{contato.email}}</p>
				
				<ion-option-button class="button-assertive" ng-click="ctCtrl.removerContato( contato )">
			      	Remover
			    </ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>