<ion-view view-title="Contato" hide-back-button="false">
	<ion-nav-buttons side="right">
  		<button class="button button-clear" ng-click="cfCtrl.guardar()">
    		&nbsp;<i class="icon ion-ios-download-outline"></i>&nbsp;
    	</button>
    </ion-nav-buttons>

	<ion-content>
		<ion-list >
			<ion-item class="item-thumbnail-left">
				<img ng-src="{{cfCtrl.contato.imagem}}">
				<h2>{{cfCtrl.contato.nome}}</h2>
				<p>{{cfCtrl.contato.telefone}}</p>
				<p>{{cfCtrl.contato.email}}</p>
			</ion-item>

			<label class="item item-input item-floating-label">
		    	<span class="input-label">Nome</span>
		    	<input type="text" placeholder="Nome Nerd" ng-model="cfCtrl.contato.nome" />
		  	</label>

			<label class="item item-input item-floating-label">
		    	<span class="input-label">Email</span>
		    	<input type="text" placeholder="email@nerd.com" ng-model="cfCtrl.contato.email" />
		  	</label>

			<label class="item item-input item-floating-label">
		    	<span class="input-label">Telefone</span>
		    	<input type="text" placeholder="(xx) xxxx-xxxx" ng-model="cfCtrl.contato.telefone" />
		  	</label>

			<label class="item item-input item-select">
				<div class="input-label">
					Imagem
				</div>
				<select ng-model="cfCtrl.contato.imagem">
					<option ng-repeat="imagem in cfCtrl.imagens" value="{{imagem.src}}">{{imagem.nome}}</option>
				</select>
			</label>
		</ion-list>
	</ion-content>
</ion-view>