<ion-view view-title="Contato" hide-back-button="false">
	<ion-nav-buttons side="right">
  		<button class="button button-clear" ng-click="cfCtrl.guardar()">
    		&nbsp;<i class="icon ion-ios-download-outline"></i>&nbsp;
    	</button>
    </ion-nav-buttons>
	
    <ion-content>
    	<ion-list>
    		<ion-item class="item-thumbnail-left item-stable">
				<img ng-src="{{cfCtrl.contato.foto}}" />
				<h2>{{cfCtrl.contato.nome}}</h2>
				<p>{{cfCtrl.contato.telefone}}</p>
				<p>{{cfCtrl.contato.email}}</p>
			</ion-item>
			
			<ion-item class="item item-toggle">
				Favorito
				<label class="toggle toggle-energized">
					<input type="checkbox" ng-model="cfCtrl.contato.favorito" />
			       	<div class="track">
			        	<div class="handle"></div>
			       	</div>
				</label>
			</ion-item>
			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="Nome Nerd" ng-model="cfCtrl.contato.nome" />
			</label>
			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Telefone</span>
				<input type="text" placeholder="Telefone Nerd" ng-model="cfCtrl.contato.telefone" />
			</label>
			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="email@nerd.com" ng-model="cfCtrl.contato.email" />
			</label>
			
			<label class="item item-input item-select">
				<span class="input-label">Avatar</span>
				<select ng-model="cfCtrl.contato.foto">
					<option ng-repeat="avatar in cfCtrl.imagens" value="{{avatar.imagem}}">{{avatar.nome}}</option>
				</select>
			</label>
		</ion-list>
	</ion-content>
</ion-view>