/* Empty. Add your own CSS if you like */
.pechincha {
  background-color: #ffcc66 !important;
  color: #ffffff;
}
.pechincha .scroll-content {
  background-color: #ffcc66 !important;
}
.pechincha .item {
  background-color: #ffcc66;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  padding: 20px;
  max-height: none;
}
.pechincha .item:first-child {
  border-top: 1px solid black;
}
.pechincha .item:last-child {
  border-bottom: 1px solid #333333;
}
.pechincha .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.pechincha .item.current p, .pechincha .item.current h3 {
  opacity: .7;
}
.pechincha h2,
.pechincha h3 {
  color: #222;
  font-weight: 500;
}
.pechincha p {
  color: #484C4C;
}

.pechincha-head {
  text-decoration: none;
}









.proposta {
  background-color: #17BBE8 !important;
  color: #ffffff;
}
.proposta .scroll-content {
  background-color: #17BBE8 !important;
}
.proposta .item {
  background-color: #17BBE8;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  padding: 20px;
  max-height: none;
}
.proposta .item:first-child {
  border-top: 1px solid black;
}
.proposta .item:last-child {
  border-bottom: 1px solid #333333;
}
.proposta .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.proposta .item.current p, .proposta .item.current h3 {
  opacity: .7;
}
.proposta h2,
.proposta h3 {
  color: #222;
  font-weight: 500;
}
.proposta p {
  color: #484C4C;
}

.proposta-head {
  text-decoration: none;
}









.concluido {
  background-color: #BFBFBF !important;
  color: #ffffff;
}
.concluido .scroll-content {
  background-color: #BFBFBF !important;
}
.concluido .item {
  background-color: #BFBFBF;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  padding: 20px;
  max-height: none;
}
.concluido .item:first-child {
  border-top: 1px solid black;
}
.concluido .item:last-child {
  border-bottom: 1px solid #333333;
}
.concluido .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.concluido .item.current p, .concluido .item.current h3 {
  opacity: .7;
}
.concluido h2,
.concluido h3 {
  color: #222;
  font-weight: 500;
}
.concluido p {
  color: #484C4C;
}

.concluido-head {
  text-decoration: none;
}





.item-thumbnail-rectangle {
	min-height: 80px !important ;
}
.item-thumbnail-rectangle img {
	max-height: 60px !important ;
}